table {
    width: 100vh;
}

td {
    font-size: 1.5rem;
    word-break: break-all;
}
.search{
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.edit{
    color: green;
    margin-right: .5rem;
    font-size: 2rem;
    cursor: pointer;
}
.delete{
    color: red;
    font-size: 2rem;
    cursor: pointer;
}
.file{
    color: rgb(162, 0, 255);
    font-size: 3rem;
}
span{
    margin-right: .3rem;
}
.page{
    position: absolute;
    top:90%;
      right:10%;

}
.pagenation{
    display: flex;
    gap: 1rem;
    
}